extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor vel est id tincidunt. Proin a arcu aliquam, volutpat est a, vestibulum justo. Phasellus aliquam, risus sed interdum porta, nibh leo mattis magna, eget egestas lectus ipsum vitae felis. Mauris vel orci id nibh laoreet elementum. Nulla tempus tristique justo, eget lobortis lacus blandit eget. 

                p In risus urna, suscipit eget lectus ut, blandit faucibus elit. Praesent ultrices faucibus eros et imperdiet.

                p Donec vel sem consectetur, efficitur augue at, tristique justo. Praesent placerat augue metus, eu porttitor neque ullamcorper vel. Sed euismod id felis id gravida. Morbi non efficitur elit, vel pretium dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    .listado-iconos 
        .container.mt-5.py-5.text-center   
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Sed euismod id felis id gravida. Morbi non efficitur elit, vel pretium dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Cras ipsum diam, lobortis in faucibus at, placerat nec erat. Donec congue, enim sed facilisis faucibus, neque nunc vestibulum enim, id finibus libero nibh sed magna. In consequat magna eget dictum vulputate. Ut fringilla iaculis gravida.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p In risus urna, suscipit eget lectus ut, blandit faucibus elit. Praesent ultrices faucibus eros et imperdiet. Nam sagittis dignissim porttitor. Nulla facilisi. Duis sem dui, iaculis sed arcu id, faucibus accumsan mauris.